<div class="d-flex flex-column justify-content-center align-items-center">
  <div
    class="d-flex flex-row row justify-content-center align-items-center w-100"
  >
    <div
      class="col-4 d-flex flex-column justify-content-center align-items-start"
    >
      <div class="w-100">



      </div>
    </div>



    <div
      class="col-3 d-flex flex-row justify-content-center align-items-center"
    >
      <!--begin::Col-->
      <div class="col-6 fv-row fv-plugins-icon-container me-2">
        <!--begin::Label-->

      </div>
      <!--end :: Col-->

      <!--begin::Col-->
      <div class="col-6 fv-row fv-plugins-icon-container">
        <!--begin::Label-->


      </div>
      <!--end :: Col-->
    </div>

    <div
      class="col-3 d-flex flex-row justify-content-center align-items-center"
    >
      <!--begin::Col-->
      <div class="col-6 me-3 bg-white border-light-gray">
        <!--begin::Radio group-->
        <div class="nav-group nav-group-fluid bg-white">
          <!--begin::Option-->
          <label>
            <input
              type="radio"
              class="btn-check"
              name="statusCode"
              [value]="2"
            />
            <span
              class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-4"
              >All</span
            >
          </label>
          <!--end::Option-->
          <!--begin::Option-->
          <label>
            <input
              type="radio"
              class="btn-check"
              name="statusCode"
              [value]="1"
            />
            <span
              class="btn btn-sm btn-color-muted btn-active btn-active-success fw-bolder px-4"
              >Pass</span
            >
          </label>
          <!--end::Option-->
          <!--begin::Option-->
          <label>
            <input
              type="radio"
              class="btn-check"
              name="statusCode"
              [value]="0"
            />
            <span
              class="btn btn-sm btn-color-muted btn-active btn-active-danger fw-bolder px-4"
              >Fail</span
            >
          </label>
          <!--end::Option-->
        </div>
        <!--end::Radio group-->
      </div>
      <!--end::Col-->

      <!--begin::Col-->
      <div class="col-6 bg-white border-light-gray p-2">
        <!--begin::Radio group-->
        <div class="nav-group nav-group-fluid bg-white">
          <!--begin::Option-->
          <label class="hoverable">
            <input
              type="radio"
              class="btn-check"
              name="sortCode"
              [value]="1"
            />
            <span
              class="d-inline btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-4"
            >
              <svg
                class="d-inline"
                width="22px"
                height="22px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                transform="matrix(1, 0, 0, -1, 0, 0)"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.00002 5C7.00002 4.44772 6.5523 4 6.00002 4C5.44773 4 5.00002 4.44772 5.00002 5V16.5858L3.7071 15.2929C3.31658 14.9024 2.68341 14.9024 2.29289 15.2929C1.90237 15.6834 1.90237 16.3166 2.2929 16.7071L5.29291 19.7071C5.48045 19.8946 5.73481 20 6.00002 20C6.26524 20 6.51959 19.8946 6.70713 19.7071L9.70711 16.7071C10.0976 16.3166 10.0976 15.6834 9.7071 15.2929C9.31658 14.9024 8.68341 14.9024 8.29289 15.2929L7.00002 16.5858V5ZM13 6C12.4477 6 12 6.44772 12 7C12 7.55228 12.4477 8 13 8H21C21.5523 8 22 7.55228 22 7C22 6.44772 21.5523 6 21 6H13ZM13 11C12.4477 11 12 11.4477 12 12C12 12.5523 12.4477 13 13 13H17C17.5523 13 18 12.5523 18 12C18 11.4477 17.5523 11 17 11H13ZM13 16C12.4477 16 12 16.4477 12 17C12 17.5523 12.4477 18 13 18H14C14.5523 18 15 17.5523 15 17C15 16.4477 14.5523 16 14 16H13Z"
                    fill="#fff"
                  ></path>
                </g>
              </svg>
              Asc</span
            >
          </label>
          <!--end::Option-->

          <!--begin::Option-->
          <label class="hoverable">
            <input
              type="radio"
              class="btn-check"
              name="sortCode"
              [value]="2"
            />

            <span
              class="d-inline btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-4"
            >
              <svg
                width="22px"
                height="22px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.00002 5C7.00002 4.44772 6.5523 4 6.00002 4C5.44773 4 5.00002 4.44772 5.00002 5V16.5858L3.7071 15.2929C3.31658 14.9024 2.68341 14.9024 2.29289 15.2929C1.90237 15.6834 1.90237 16.3166 2.2929 16.7071L5.29291 19.7071C5.48045 19.8946 5.73481 20 6.00002 20C6.26524 20 6.51959 19.8946 6.70713 19.7071L9.70711 16.7071C10.0976 16.3166 10.0976 15.6834 9.7071 15.2929C9.31658 14.9024 8.68341 14.9024 8.29289 15.2929L7.00002 16.5858V5ZM13 6C12.4477 6 12 6.44772 12 7C12 7.55228 12.4477 8 13 8H21C21.5523 8 22 7.55228 22 7C22 6.44772 21.5523 6 21 6H13ZM13 11C12.4477 11 12 11.4477 12 12C12 12.5523 12.4477 13 13 13H17C17.5523 13 18 12.5523 18 12C18 11.4477 17.5523 11 17 11H13ZM13 16C12.4477 16 12 16.4477 12 17C12 17.5523 12.4477 18 13 18H14C14.5523 18 15 17.5523 15 17C15 16.4477 14.5523 16 14 16H13Z"
                    fill="#fff"
                  ></path>
                </g>
              </svg>
              Desc
            </span>
          </label>
          <!--end::Option-->
        </div>
        <!--end::Radio group-->
      </div>
      <!--end::Col-->
    </div>
  </div>

  <div
    class="scroll-y me-n2 pe-5 mt-5 w-100"
    data-kt-scroll="true"
    data-kt-scroll-activate="{default: true, lg: true}"
    data-kt-scroll-max-height="auto"
    data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_contacts_header"
    data-kt-scroll-wrappers="#kt_content, #kt_chat_contacts_body"
    data-kt-scroll-offset="5px"
    style="max-height: 525px"
  >
    <div
      *ngIf="StateValidator.IsLoading(PagedSubmissionLogsState)"
      class="w-100 h-100 d-flex justify-content-center align-items-center"
    >
      <span
        class="spinner-border text-primary w-50px h-50px"
        role="status"
      ></span>
    </div>


    <div
      class="d-flex flex-row row gx-7 gy-7 p-2"
    >
      <div
        *ngFor="
          let halfSubmissionLogs of PagedSubmissionLogs?.submissionLogs!
        "
        class="col-6 d-flex flex-column"
      >
        <div
          class="mb-5"
          *ngFor="
            let SubmissionLog of halfSubmissionLogs
              | paginate
                : {
                    currentPage: currentPage,
                    totalItems: totalRecords,
                    itemsPerPage: pageSize
                  }
              | sumbissionLogSearch
                : searchForm.value.search! as filteredSubmissionLogs
          "
          style="position: relative"
        >
          <div
            class="card card-flush border border-secondary rounded"

          >
            <!--begin::Card Widget 9-->
            <div class="card-body p-5">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-row col-8">
                  <div
                    class="col-8 hoverable w-100"
                    (click)="
                      SubmissionLog.isExpanded = !SubmissionLog.isExpanded
                    "
                  >
                    <div
                      class="d-flex flex-row justify-content-start align-items-center"
                    >
                      <!--begin::Avatar-->
                      <div class="symbol symbol-50px symbol-circle">
                        <img
                          class="me-2"
                          alt="Pic"
                          title="{{ SubmissionLog.ownerAbbreviation }}"

                        />
                      </div>
                      <!--end::Avatar-->

                      <!--begin::Description-->
                      <div>
                        <a
                          class="text-gray-800 text-hover-primary fw-bolder fs-6"
                          >{{ SubmissionLog.transactionName }}</a
                        >
                        <span
                          class="text-muted fw-bold d-block"
                          title="{{ SubmissionLog.serviceEnName }}"
                          style="
                            max-width: 300px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          "
                          >{{ SubmissionLog.ownerAbbreviation }}</span
                        >
                      </div>
                      <!--end::Description-->
                    </div>
                  </div>
                </div>

                <div class="col-4 d-flex justify-content-end">
                  <div class="d-flex align-items-center flex-wrap d-grid gap-2">
                    <div
                      class="d-flex flex-column justify-content-center align-items-end"
                    >
                      <div class="d-flexflex-row mb-1">
                        <span class="fw-bolder text-gray-600 fs-7">
                          {{ SubmissionLog.submitter }}
                        </span>
                        <svg
                        width="20px"
                        height="20px"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g
                          id="SVGRepo_tracerCarrier"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></g>
                        <g id="SVGRepo_iconCarrier">
                          <g id="User / User_01">
                            <path
                              id="Vector"
                              d="M19 21C19 17.134 15.866 14 12 14C8.13401 14 5 17.134 5 21M12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7C16 9.20914 14.2091 11 12 11Z"
                              stroke="#888"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            ></path>
                          </g>
                        </g>
                      </svg>
                      </div>

                      <div class="d-flex flex-row">
                        <span class="fw-bolder text-gray-600 d-block fs-7">

                        </span>
                        <svg
                        width="20px"
                        height="20px"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g
                          id="SVGRepo_tracerCarrier"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></g>
                        <g id="SVGRepo_iconCarrier">
                          <path
                            d="M12 8V12L15 15"
                            stroke="#888"
                            stroke-width="2"
                            stroke-linecap="round"
                          ></path>
                          <circle
                            cx="12"
                            cy="12"
                            r="9"
                            stroke="#888"
                            stroke-width="2"
                          ></circle>
                        </g>
                      </svg>


                      </div>


                    </div>

                    <!--end::Item-->
                  </div>
                </div>
              </div>

              <div
                class="p-0 bg-white expanded-card"
                *ngIf="SubmissionLog.isExpanded"
              >
                <div class="d-flex flex-column mt-6 mx-5">
                  <div
                    class="justify-content-between align-items-center b-top"
                    style="background-color: #4d4d4f"
                  >
                    <div class="d-flex flex-row">
                      <!--begin::Checkbox-->
                      <div class="col-8">
                        <!--begin::Description-->
                        <div class="flex-grow-1 p-4">
                          <a

                          >
                            Request
                          </a>
                          <a
                            class="text-white fw-bolder fs-6 p-3 hoverable"

                          >
                            Response
                          </a>
                        </div>
                        <!--end::Description-->
                      </div>
                      <div class="col-3 mx-15">
                        <div class="flex-grow-1 py-4">
                          <span
                            class="badge fs-6 fw-bolder"

                          >
                            {{
                              SubmissionLog?.statusCode == 1 ? "Pass" : "Fail"
                            }}
                          </span>
                          <span class="text-white fw-bolder">
                            {{ SubmissionLog.responseTimeInSeconds }}
                            Seconds</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    *ngIf="this.IsRequest(SubmissionLog.id)"
                    class="mt-n4 me-n2"
                  >
                  </div>

                  <div
                    *ngIf="this.IsResponse(SubmissionLog.id)"
                    class="mt-n4 me-n2"
                  >
                  </div>
                </div>
              </div>
            </div>
            <!--end::Card Widget 9-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="StateValidator.IsSuccess(PagedSubmissionLogsState)"
    class="d-flex justify-content-center align-items-end"
    style="position: absolute; bottom: 50px"
  >

  </div>
</div>
