/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Barlow;
 src: url('src/assets/fonts/Barlow-Regular.ttf');
}
@font-face {
  font-family: Cairo;
 src: url('src/assets/fonts/Cairo-Regular.ttf');
}
body{
font-family:  Barlow, Cairo;
}

.idle{
  pointer-events:none;
}


.row [class*='col-'] {
  transition: all 0.250s ease-in-out;
}

.col-0{
  width: 0;
  opacity: 0;
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
  transition: all 0.250s ease-in-out;
}

.rotate-180{
  transition: all 0.250s ease-in-out;
}
